.LancheCard {
    margin: 0 10px;
    margin-top: 15px;
    width: 160px;
    height: 240px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    /* text-align: center; */
}

.LancheCard .img{
    display: block;
    width: 100px;
    height: auto;
    margin: 10px auto;
}

.LancheCard p{
    font-size: 14px;
    font-weight: 600;
}

.avaliation{font-weight: 600;}


.icon-avaliacao{
    color: #03a503;
    
}
.avaliation{
    display: block;
}

.card-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-weight: 600;
}

.LancheCard button{
    width: 20%;
    text-align: center;
    height: 30px;
    background-color: #03a503;
    color: #fff;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
}